@import 'global';

  /* Create two equal columns that floats next to each other */
  @media screen and (min-width: 600px) {
  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 10px;
  }

  .map{
    height: 500px;
    width: 600px;
  }

  .sisterMap{
    height: 360px;
    width: 600px;
  }
}
