#page_1 {position:relative; overflow: hidden;margin: 24px 0px 12px 96px;padding: 0px;border: none;width: 720px;}

#page_1 #p1dimg1 {position:absolute;top:0px;left:2px;z-index:-1;width:623px;height:108px;}
#page_1 #p1dimg1 #p1img1 {width:623px;height:108px;}

.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: 16px 'Bookman Old Style';line-height: 20px;}
.ft4{font: 1px 'Bookman Old Style';line-height: 1px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap; margin-top: 10%;}
.p1{text-align: left;margin-top: 17px;margin-bottom: 0px;}
.p2{text-align: left;margin-top: 1px;margin-bottom: 0px;}
.p3{text-align: right;padding-right: 12px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4{text-align: left;padding-left: 15px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: right;padding-right: 15px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: left;padding-left: 12px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: left;padding-left: 9px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: left;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: left;padding-left: 17px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p14{text-align: right;padding-right: 41px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

.td0{padding: 0px;margin: 0px;width: 480px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 42px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 84px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 29px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 118px;vertical-align: bottom;}

.td25{padding: 0px;margin: 0px;width: 15px;vertical-align: bottom;}
.td26{padding: 0px;margin: 0px;width: 60px;vertical-align: bottom;}

.td33{padding: 0px;margin: 0px;width: 78px;vertical-align: bottom;}
.td36{padding: 0px;margin: 0px;width: 337px;vertical-align: bottom;}
.td37{padding: 0px;margin: 0px;width: 72px;vertical-align: bottom;}
.td38{padding: 0px;margin: 0px;width: 66px;vertical-align: bottom;}
.td39{padding: 0px;margin: 0px;width: 82px;vertical-align: bottom;}
.td40{padding: 0px;margin: 0px;width: 471px;vertical-align: bottom;}
.td41{padding: 0px;margin: 0px;width: 309px;vertical-align: bottom;}
.td42{padding: 0px;margin: 0px;width: 195px;vertical-align: bottom;}
.td43{padding: 0px;margin: 0px;width: 142px;vertical-align: bottom;}

.tr0{height: 20px;}
.tr1{height: 23px;}
.tr2{height: 38px;}
.tr8{height: 49px;}
.tr9{height: 41px;}
.tr10{height: 28px;}
.tr11{height: 29px;}

.t0{width: 522px;margin-top: 122px;font: 16px 'Bookman Old Style';}
.t1{width: 231px;margin-top: 14px;font: 16px 'Bookman Old Style';}
.t2{width: 678px;margin-top: 15px;font: 16px 'Bookman Old Style';}