@import 'global';


.SecondExample
{
    .Project
    {
        position: relative;
        height: 500px;
        overflow: hidden;
        padding: 20px;
        background-repeat: no-repeat;
        background-size: auto;
    }
}